@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ChangePassword</title>
    <script src="~/Scripts/ChangePassword/ChangePassword.js"></script>
    <script type="text/x-kendo-template" id="ok-confirmation">
        <div id="div">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <button class="ok k-button" type="button" onclick="con_close()">OK</button>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </script>
</head>
<body>
    <div class="modal-header k-header" style="padding: 5px; color: white; background-color: #367FA9; border-radius: 4px">
        <button type="button" class="close" data-dismiss="modal" style="padding: 0px 8px;font-size: 25px;">
            &times;
        </button>
        <h4 class="modal-title" style="font-family:sans-serif">Change Password /Security QA</h4>
    </div>
    <div class="modal-body">

        <div class="row" style="padding-right:30px">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#frmChangePassword" class="tab" id="tab_pas" data-toggle="tab" onclick="btn_show()">
                            Change Password
                        </a>
                    </li>
                    <li>
                        <a href="#frmchangesecurity" id="tab_sec" class="tab" data-toggle="tab" onclick="btn_show()">
                            Change Security Q/A
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="frmChangePassword">
                        <form id="frmChangePassword1" class="form-horizontal" data-role="validator" novalidate="novalidate">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="txtUserId" id="lbl_project_name" class="col-sm-4 control-label required">User Id / Email Id :</label>
                                            <div class="col-sm-6">
                                                <input id="txtUserId" type="text" class="form-control" name="user_id" maxlength="15" style="padding-top:0px;padding-bottom:0px" readonly required data-required-msg="User Id / Email Id cannot be blank" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="txtNewPassword" class="col-sm-4 control-label required">New Password :</label>
                                            <div class=" col-sm-6">
                                                <input type="password" class="form-control" name="user_password" id="txtNewPassword" style="padding-top:0px;padding-bottom:0px" required data-required-msg="New Password cannot be blank" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="txtConPassword" class="col-sm-4 control-label required">Confirm Password :</label>
                                            <div class=" col-sm-6">
                                                <input type="password" class="form-control" name="con_password" id="txtConPassword" onchange="password_check()" style="padding-top:0px;padding-bottom:0px" required data-required-msg="change Password cannot be blank" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="chng_password_captcha" class="col-sm-4 control-label"></label>
                                            <div class="col-sm-2">
                                                <input id="chng_password_captcha" type="text" class="form-control" disabled style="background-image: url('/images/1.jpg'); border: none; font-weight: bold; width: 100px; font-family: Modern; font-size: 20px; padding-right: 0px">
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="fa fa-refresh fa-lg " data-toggle="modal"
                                                   href="#" onclick="password_refresh()" title="Refresh"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="chngpassword_captcha_ans" id="lbl_ref_from" class="col-sm-4 control-label required">Re-Enter Captcha :</label>
                                            <div class="col-sm-6">
                                                <input id="chngpassword_captcha_ans" type="text" class="form-control" name="chngpassword_captcha" maxlength="15" style="padding-top:0px;padding-bottom:0px" required data-required-msg="Re-Enter Captcha cannot be blank" />
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-3"></div>
                                            @*<div class="col-sm-5"><button id="btnSave" type="button" onclick="chnge_password_save()" class="btn btn-primary">Save</button></div>*@
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="frmchangesecurity">
                        <form id="frmchangesecurity1" class="form-horizontal" data-role="validator" novalidate="novalidate">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="txtUserId1" class=" col-sm-4 control-label required">User Id / Email Id :</label>
                                            <div class=" col-sm-6">
                                                <input type="text" class="form-control" id="txtUserId1" name="user_id" style="padding-top:0px;padding-bottom:0px" readonly required data-required-msg="User Id / Email Id cannot be blank" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label class="control-label col-sm-4 required" for="cmbQuestion1">Security Question :</label>
                                            <div class="col-sm-6">
                                                <input id="cmbQuestion1" name="sec_question_code" data-role="filtercombo" style="width :100%" required data-required-msg="Security Question cannot be blank" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="txtAnswer" class="col-sm-4 control-label required">Answer :</label>
                                            <div class=" col-sm-6">
                                                <input type="text" class="form-control" name="sec_answer" id="txtAnswer" style="padding-top:0px;padding-bottom:0px" required data-required-msg="Answer cannot be blank" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="display:none">
                                            <label class="control-label col-sm-3 " for="txtMode">Mode Flag :</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="txtMode" name="mode_flag" maxlength="10" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="security_captcha" class="col-sm-4 control-label"></label>
                                            <div class="col-sm-2">
                                                <input id="security_captcha" type="text" class="form-control" disabled style="background-image: url('/images/1.jpg'); border: none; width: 103px; font-weight: bold; font-family: Modern; font-size: 20px; padding-right: 0px">
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="fa fa-refresh fa-lg " data-toggle="modal"
                                                   href="#" onclick="security_refresh()" title="Refresh"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="padding-left:20px">
                                            <label for="security_captcha_ans" id="lbl_ref_from" class="col-sm-4 control-label ">Re-Enter Captcha:</label>
                                            <div class="col-sm-6">
                                                <input id="security_captcha_ans" type="text" class="form-control" name="chngesecurity_captcha" maxlength="15" style="padding-top:0px;padding-bottom:0px" required data-required-msg="Re-Enter Captcha cannot be blank" />
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style=" float:right">
            <button class="k-dialog-update k-button k-primary" id="btnSave" onclick="Save_tab()">Save</button>
            <button class="k-dialog-update k-button" id="btnClose" onclick="btn_password_cancel()">Cancel</button>           
        </div>
    </div>
</body>
</html>