
@{
    ViewBag.Title = "QuoteSummary";
    Layout = "~/Views/Shared/Form_Layout.cshtml";
}

<form class="form-horizontal" id="form_quote_summary">
    <div class="row">
        <div class="col-sm-12 simscrollDiv">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" id="apanel1" data-parent="#accordion" href="#panel1"><i class="glyphicon glyphicon-minus" style="font-weight:900"></i>Quote Summary List</a>
                        </h4>

                    </div>
                    <div id="panel1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="master_grid" style="padding-bottom:15px">
                                <div id="grid_quote_summary_list" class="grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" id="apanel2" data-parent="#accordion" href="#panel2"><i class="glyphicon glyphicon-plus" style="font-weight:900"></i>Quote Summary Detail</a>
                        </h4>

                    </div>
                    <div id="panel2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row" style="padding-bottom:10px">
                                <div class="col-md-12">
                                    <div class="modal-footer" style="border-top:0;padding:0">
                                        <button type="button" class="btn  btn-primary" id="RFQBtnSave">Save</button>
                                        <button type="button" class="btn  btn-primary" id="RFQBtnClear">Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtRFQNO" class="col-sm-5 control-label" style="text-decoration-line:underline" onclick="RFQ_onChange()">RFQ No/ Enquiry No</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="txtRFQNO" name="rfq_no">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtReceivedDate" id="lbl_txtReceivedDate" class="col-sm-5 control-label">Received Date</label>
                                        <div class=" col-sm-7">
                                            <input class="cusDate" id="txtReceivedDate" data-role='datepicker' name="srv_req_date" onkeypress="return date_validate(event)" style="width:100%" />
                                            <span data-for='valid' class='k-invalid-msg'></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cmbCustomer" class="col-sm-5 control-label" style="text-decoration-line:underline" onclick="Customer_onChange(this)">Customer Name</label>
                                        <div class="col-sm-7">
                                            <input id="cmbCustomer" name="poc" data-role="filtercombo" style="width:100%" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                              
                               
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtCustSegment" class="col-sm-5 control-label">Customer Segment</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="txtCustSegment" name="cust_segment" max="50" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtRevisionNo" class="col-sm-5 control-label required">Revision No</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="txtRevisionNo" name="rfq_no">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtComDate" id="lbl_txtReceivedDate" class="col-sm-5 control-label required"> Date of communicating the quote to customer</label>
                                        <div class=" col-sm-7">
                                            <input class="cusDate" id="txtComDate" data-role='datepicker' name="srv_req_date" onkeypress="return date_validate(event)" style="width:100%" />
                                            <span data-for='valid' class='k-invalid-msg'></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="quote_summary" style="padding-bottom:15px">
                                <div id="grid_quote_summary_detail" class="grid"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="File__Attachment__Details"></div>
    <div class="row" style="display:none">
        <a id="Customer_popup" class="file_attach" data-toggle="modal" href="~/FileAttachment/CustomerPopup" hdrtitle="" doctype="" scrnid="" data-target="#frm_Customer">
        </a>
        <a id="rfq_entry_popup" class="file_attach" data-toggle="modal" href="~/FileAttachment/RFQEntryPopup" hdrtitle="" doctype="" scrnid="" data-target="#frm_RFQEntry">
        </a>
    </div>

    <input id="txtDocno" type="hidden" name="Doc_no">
    <input id="txtseqno" type="hidden" name="SeqNo">
    <input id="txtmodeflag" type="hidden" name="modeflag">
    <input id="txtfilepath" type="hidden" name="file_path">
    <input id="txtDocName" type="hidden" name="doc_type">
</form>
<script src="~/CommonScripts/Grid_FileAttachment.js"></script>

<style>
    .k-input[readonly] {
        background-color: #eee;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }
</style>
<script>
    // list part

    var selectIds = $('#panel1,#panel2');
    $(function ($) {
        selectIds.on('show.bs.collapse hidden.bs.collapse', function () {
            $(this).prev().find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
        })
    });

    var ScreenId = "";
    var menuId = "";
    var screen_id = "";
    Screen_Id = "PROCESSED";
    var grid_height = '';
    var default_screen_size = 631;
    var default_grid_size = 361;
    var customer_rowid = '';

    var rfq_number = '';
    var cust_name = "";

    $(document).ready(function () {
        $("#multy").hide();
        $("#div_status").hide();
        status_list = [{ code: "1", desc: "New" }, { code: "2", desc: "Open" }, { code: "3", desc: "Completed" }]
        var data = [{ cust_rowid: "1", rfq_no: "RFQENTRY01", received_date: "10/04/2021", cust_name: "Kannappan", status_code: "2", status: "Open" },
        { cust_rowid: "2", rfq_no: "RFQENTRY02", received_date: "11/04/2021", cust_name: "Muthukumar", status_code: "2", status: "Open" },
        { cust_rowid: "3", rfq_no: "RFQENTRY03", received_date: "20/05/2021", cust_name: "Suga1", status_code: "2", status: "Open" },
        { cust_rowid: "4", rfq_no: "RFQENTRY04", received_date: "06/06/2021", cust_name: "Shyamala", status_code: "2", status: "Open" }];
        Quote_Summary_list(data);
        //Quote_Summary_details([]);
        // form part
        Form_validate_Name = $('form.form-horizontal').attr('id');
        kendodate_format_validator('form_quote_summary');
        $("#lblFormTitle").text('Quote Summary');
        filter_combobox("cmbCustomer", []);

        $(".file_attach").attr("hdrtitle", "Quote Summary");

        $("#form1").hide();
        $("#btnDelete").hide();
        $("#frm_save_lay").hide();
        $("#form22").hide();
        var full_height = $('.content-wrapper').css('min-height').replace('px', '');
        grid_height = parseInt(full_height) - 285;
        $('#grid_quote_summary_list .k-grid-content').height(grid_height);

    });

</script>

<script>
    function Customer_onChange(arg) {
        $('#Customer_popup').click();
        Load_Customer_popup(customer_rowid);
    }

    function RFQ_onChange() {
        $('#rfq_entry_popup').click();
        rfq_number = $("#txtRFQNO").val();
        var grid = $("#grid_quote_summary_list").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        cust_name = selectedItem.cust_name;
        Load_RFQ_popup(rfq_number);
    }

    var customer_name_list = '';
    var poc_list = '';
    var status_list = '';
    function Quote_Summary_list(data) {
        try {
            gridRowID = -1;
            data = addRandomNum(data);
            $("#grid_quote_summary_list").kendoGrid({
                dataSource: {
                    data: data,
                    pageSize: 20,
                    schema: {
                        model: {
                            fields: {
                                rfq_no: {
                                    type: "string",
                                    editable: false,
                                },
                                received_date: {
                                    type: "string",
                                    editable: false,
                                },
                                cust_name: {
                                    type: "string",
                                    editable: false,
                                },
                                status_code: {
                                    type: "string",
                                    editable: false,
                                },
                                status: {
                                    type: "string",
                                    editable: false,
                                },
                            }
                        }
                    },
                },
                dataBound: function (o) {
                    reset_Selected_GridRows("grid_quote_summary_list", o);
                },
                //height: 550,
                filterable: true,
                scrollable: true,
                sortable: {
                    mode: "multiple",
                    dir: "asc"
                },
                pageable: true,
                selectable: true,
                //change: selectRow,
                columns: [
                    {
                        field: "cust_rowid",
                        title: "Cust Rowid",
                        width: "150px",
                        hidden: true
                    },
                    {
                        field: "rfq_no",
                        title: "RFQ No/ Enquiry No",
                        width: "150px",
                    },
                    {
                        field: "received_date",
                        title: "Received Date",
                        width: "150px",
                    },
                    {
                        field: "cust_name",
                        title: "Customer Name",
                        width: "150px",
                    },
                    {
                        field: "status_code",
                        title: "Status",
                        hidden: true,
                        width: "150px",
                    },
                    //{
                    //    field: "status",
                    //    title: "Status",
                    //    editor: function (container, options) {
                    //        combo_editor_man_check(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "Status", "status_code", "grid_quote_summary_list")
                    //    },
                    //    width: "150px",
                    //},
                    {
                        field: "status",
                        title: "Status",
                        editor: function (container, options) {
                            combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "status_code", "grid_quote_summary_list")
                        },
                        width: 100,
                    },
                    {
                        command: [
                            {
                                name: "Save",
                                text: "",
                                id: "Save",
                                template: '<input type="button" class="info  k-button k-button-icontext" id="save"   name="info" value="Complete"  style="height: 26px; margin: 0px 2px; min-width: 64px;" />',
                            },
                            {
                                name: "Attach",
                                text: "",
                                template: "<i class='fa fa-paperclip Attachment' style='padding: 0px; font-size: 20px; margin: 0px 10px'></i>",
                            },
                        ], title: "Actions", width: "120px",
                    },
                ],
                editable: true,
            });

            $("#grid_quote_summary_list").on("dblclick", "tr.k-state-selected", function () {
                var grid = $("#grid_quote_summary_list").data("kendoGrid");
                var selectedItem = grid.dataItem(grid.select());
                $("#txtRFQNO").val(selectedItem.rfq_no);
                $("#txtReceivedDate").val(selectedItem.received_date);
                Load_Customer_Name();
                customer_rowid = selectedItem.cust_rowid;
                $('#cmbCustomer').data("kendoComboBox").value(selectedItem.cust_rowid);
                $("#apanel2").click();

                var data = [{ part_name: "Part 1", fai_qty: "12", fai_sp: "A", serial_prod_qty: "18", serial_pro_price: "2300", contribution: "4000", margin_sp: "21", FAI_pieces: "2", load_fai: "4", selling_price_fai: "1200", FAI_pieces_2: "2", load_fai_2: "4", selling_price_fai_2: "1500", FAI_pieces_3: "32", load_fai_3: "7", selling_price_fai_3: "1800", mode_flag: "S" }];
                $("#quote_summary").empty();
                $("#quote_summary").append("<div id='grid_quote_summary_detail' class='grid'></div>");
                Quote_Summary_details(data);

                grid_mandatory("grid_quote_summary_detail", ["FAI Qty", "FAI SP", "Serial prod. Qty", "Serial prod. Price", "Contribution %", "Margin % on SP", "FAI no.of pieces", "Margin loading % for FAI"]);

                $("#txtRFQNO").attr('readonly', 'readonly');
                $("#txtReceivedDate").attr('readonly', 'readonly');
                $('#cmbCustomer').data("kendoComboBox").enable(false);
                var full_height = $('.content-wrapper').css('min-height').replace('px', '');
                grid_height = parseInt(full_height) - 468;
                $('#grid_quote_summary_detail .k-grid-content').height(grid_height);
            });

            $('#grid_quote_summary_list').data('kendoGrid').tbody.find('.Attachment').click(function (e) {
                var dataitem = $('#grid_quote_summary_list').data('kendoGrid').dataItem($(e.currentTarget).closest("tr"));
                save__attachment.content($("#DevFile_Attach_Template").html()).center().open();
                DocType = "RFQ_HDR_QUO";

                $('.form-group .k-invalid-msg').remove();
                $("#txtRFQNumber").val(dataitem.rfq_no);
                var grp_data1 = load_dropdown_list('ATTACHMENT', 'ATTCH_GRP');
                var grp_data2 = load_dropdown_list('ATTACHMENT', 'ATTCH_SGRP');
                filter_combobox("cmb_grid_group", grp_data1);
                filter_combobox("cmb_grid_subgroup", grp_data2);

                $("#txtDocno").val($("#txtRFQNumber").val());
                $("#txtDocName").val("RFQ_HDR_QUO");
                $("#txtmodeflag").val("I");
                $("#txtseqno").val("0");
                $("#txtVersion").val("1");
                fetch_DocAttach_details($("#txtDocName").val(), $("#txtDocno").val())
                $('.k-window').css('top', '30px');

            });


        } catch (err) {
            kendoAlert(err);
        }
    }

    status_list = [{ code: "1", desc: "New" }, { code: "2", desc: "Open" }, { code: "3", desc: "Completed" }]

    function selectRow() {
        var grid = $("#grid_quote_summary_list").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        $("#txtRFQNO").val(selectedItem.rfq_no);
        $("#txtRemarks").val(selectedItem.received_date);
        $("#txtCusName").val(selectedItem.cust_name);
        var data = [{ part_name: "Part1", pilot_qty: "50", cast_draw_no: "Draw123", mach_draw_no: "MN345", mode_flag: "S" }];
        Quote_Summary_details(data);
        //$("#txtRemarks").attr('readonly', 'readonly');
        $("#txtRFQNO").attr('readonly', 'readonly');
        $("#txtCusName").attr('readonly', 'readonly');
        $("#apanel2").click();
    }

    function Quote_Summary_details(user_data) {
        try {
            $("#grid_quote_summary_detail").kendoGrid({
                dataSource: {
                    data: user_data,
                    schema: {
                        model: {
                            fields: {
                                part_name: {
                                    type: "string",
                                    editable: false
                                },
                                cust_segment: {
                                    type: "string",
                                    editable: false
                                },
                                selling_price_fai: {
                                    type: "string",
                                    editable: false
                                },
                                selling_price_fai_2: {
                                    type: "string",
                                    editable: false
                                },
                                selling_price_fai_3: {
                                    type: "string",
                                    editable: false
                                },
                                tool_cost: {
                                    type: "string",
                                    editable: false
                                },

                                mode_flag: {
                                    type: "string",
                                    defaultValue: "I"
                                }
                            }
                        }
                    },
                },
                navigatable: true,
                scrollable: true,
                sortable: {
                    mode: "multiple",
                    dir: "asc"
                },
                //height: 285,
                selectable: true,
                selectable: "double", //  Grid Row Selection
                dataBinding: setDefaultValues,
                dataBound: function (e) {
                    resultData = e.sender._data;
                    var rows = $('#grid_quote_summary_detail').data('kendoGrid').tbody.children();
                    setColor(rows, resultData);
                },
                //toolbar: "<a class='k-grid-add'  id = 'btnSave' href=''><span class='fa fa-plus' style='color:Black'></span></a>",
                columns: [
                    {
                        field: "part_name",
                        title: "Part Name",
                        width: 150,
                        locked: true
                    },                    
                    //{
                    //    field: "cust_segment",
                    //    title: "Customer segment",
                    //    width: 150,
                    //},
                    {
                        field: "tool_cost",
                        title: "Tool cost in INR",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "fai_qty",
                        title: "FAI Qty",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "fai_sp",
                        title: "FAI SP",
                        width: 200,
                    },
                    {
                        field: "serial_prod_qty",
                        title: "Serial prod. Qty",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "serial_pro_price",
                        title: "Serial prod. Price",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor_dot(container, options.field, '9');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "contribution",
                        title: "Contribution %",
                        width: 150,
                    },
                    {
                        field: "margin_sp",
                        title: "Margin % on SP",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },

                    {
                        field: "FAI_pieces",
                        title: "FAI no.of pieces",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "load_fai",
                        title: "Margin loading % for FAI",
                        width: 200,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "selling_price_fai",
                        title: "Selling price quoted for FAI",
                        width: 200,
                    },
                    {
                        field: "FAI_pieces_2",
                        title: "FAI no.of pieces",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "load_fai_2",
                        title: "Margin loading % for FAI",
                        width: 200,
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "selling_price_fai_2",
                        title: "Selling price quoted for FAI",
                        width: 200,
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "FAI_pieces_3",
                        title: "FAI no.of pieces",
                        width: 150,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "load_fai_3",
                        title: "Margin loading % for FAI",
                        width: 200,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '5');
                        },
                        attributes: { class: "text-right" },
                    },
                    {
                        field: "selling_price_fai_3",
                        title: "Selling price quoted for FAI",
                        width: 200,
                        attributes: { class: "text-right" },
                    },
                    {
                        title: "Attach",
                        hidden: false,
                        template: "<i class='fa fa-paperclip Attachment' style='padding: 0px; font-size: 20px; margin: 0px 10px' onclick='attach_load()' ></i>",
                        width: 100
                    },
                    {
                        field: "mode_flag",
                        title: "Mode",
                        width: 30,
                        hidden: true
                    }
                ],
                editable: true,
            });


        }
        catch (err) {
            alert(err);
        }
    }
    part_name_list = [{ code: "1", desc: "Part1" }, { code: "2", desc: "Part2" }, { code: "3", desc: "Part3" }, { code: "4", desc: "Part4" }]
    status_list = [{ code: "1", desc: "New" }, { code: "2", desc: "Open" }, { code: "3", desc: "Completed" }];


    //customer_name_list = [{ code: "1", desc: "Customer1" }, { code: "2", desc: "Customer2" }, { code: "3", desc: "Customer3" }, { code: "4", desc: "Customer4" }]
    // poc_list = [{ code: "1", desc: "Ravi" }, { code: "2", desc: "Arun" }, { code: "3", desc: "Vinoth" }, { code: "4", desc: "Sairam" }]


    function form_clear() {
        Quote_Summary_details([]);

        Quote_Summary_list([]);
        var data = [{ rfq_no: "RFQENQ1", cust_name: "Customer1", part_name: "Part 1", status: "Open" },
        { rfq_no: "RFQENQ2", cust_name: "Customer2", part_name: "Part 2", status: "Open" },
        { rfq_no: "RFQENQ3", cust_name: "Customer3", part_name: "Part 3", status: "Open" },
        { rfq_no: "RFQENQ4", cust_name: "Customer4", part_name: "Part 4", status: "Open" }]
        Quote_Summary_list(data);
    }

    function attach_load() {
        var grid = $("#grid_quote_summary_detail").data("kendoGrid"); //assuming the grid name is gridtemplate
        var dataitem = grid.dataItem(grid.select());
        save__attachment.content($("#DevFile_Attach_Template").html()).center().open();
        DocType = "RFQ_DTL_QUO";

        $('.form-group .k-invalid-msg').remove();
        $("#txtRFQNumber").val($("#txtRFQNO").val());
        $("#txtPartName").val(dataitem.part_name);
        $("#part_name_value").show();

        var grp_data1 = load_dropdown_list('ATTACHMENT', 'RFQ_DTL_QUO');
        var grp_data2 = load_dropdown_list('ATTACHMENT', 'RFQ_SUB_GRP_QUO');
        filter_combobox("cmb_grid_group", grp_data1);
        filter_combobox("cmb_grid_subgroup", grp_data2);

        var doc_number = $("#txtRFQNumber").val() + "^" + $("#txtPartName").val();

        $("#txtDocno").val(doc_number);
        $("#txtDocName").val("RFQ_DTL_QUO");
        $("#txtmodeflag").val("I");
        $("#txtseqno").val("0");
        $("#txtVersion").val("1");
        fetch_DocAttach_details($("#txtDocName").val(), $("#txtDocno").val());
        $('.k-window').css('top', '30px');
    }

    function attachment_close() {
        save__attachment.close();
    }
    function GridBrowseTemplateFile() {
        try {
            $("#file").attr("accept", ".pdf,.xlsx,.jpg");
            $("#file").click();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function Load_Customer_Name() {
        try {
            var sRequest = weburl + '/server/Customer/fetch_customer_list.ashx?org=' + OrgId + '&locn=' + LocnId + '&user=' + User + '&lang=en_us';
            var s = executeService(sRequest);
            var responseJSON = JSON.parse(s);
            if (responseJSON.update == "successful") {
                //generateGrid_Customer(responseJSON);
                var cust_data = responseJSON.data.context.Detail;
                var code = {};
                var desc = {};

                var combo_data1 = [];
                $.each(cust_data, function (key, val) {
                    combo_data1.push({ code: cust_data[key].cust_rowid, desc: cust_data[key].cust_name });
                });
                filter_combobox("cmbCustomer", combo_data1);

            }
            else {
                filter_combobox("cmbCustomer", []);
            }
        } catch (err) {
            kendoAlert(err);
        }
    }

</script>

<script type="text/x-kendo-template" id="DevFile_Attach_Template" style="color:Black">
    <div class="modal-body" style="padding:5px">
        <form id="form2" class="form-horizontal" data-role="validator" novalidate="novalidate">
            <div class="row">
                @*<div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtDocName" class="col-sm-4 control-label">Document Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="txtDocName" readonly name="DocName" style="height:20px">
                            </div>
                        </div>
                    </div>*@
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtRFQNumber" class="col-sm-4 control-label">RFQ No</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" id="txtRFQNumber" readonly name="rfq_no" style="height:20px">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="display:none" id="part_name_value">
                    <div class="form-group">
                        <label for="txtPartName" class="col-sm-4 control-label">Part Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" id="txtPartName" readonly name="part_name" style="height:20px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div id="Grid_Attach"></div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="cmb_grid_group" class="col-sm-3 control-label required">Group</label>
                        <div class="col-sm-7">
                            <input type="text" id="cmb_grid_group" name="Group" style="width:100%">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="cmb_grid_subgroup" class="col-sm-3 control-label required">Sub Group</label>
                        <div class="col-sm-7">
                            <input type="text" id="cmb_grid_subgroup" name="SubGroup" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="filename" class="col-sm-3 control-label">File Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-sm" id="txtfilename" readonly name="filename" style="height:20px">

                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-2">
                        <input type="file" id="file" style="display:none;" onchange="save_file();" />
                        <button type="button" id="btn_down1" class="btn btn-sm btn-primary" onclick="GridBrowseTemplateFile();" data-toggle="tooltip" data-placement="bottom">Browse</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="Version" class="col-sm-3 control-label">Version</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-sm" id="txtVersion" readonly name="Version" style="height:20px">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="Size" class="col-sm-3 control-label">Size</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-sm" id="txtSize" readonly name="Size" style="height:20px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="Notes" class="col-sm-2 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea class="form-control input-sm" rows="2" id="txtnotes" style="width:90%" name="Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <input id="txtDocno" type="hidden" name="SeqNo">
                <input id="txtseqno" type="hidden" name="SeqNo">
                <input id="txtmodeflag" type="hidden" name="modeflag">
                <input id="txtfilepath" type="hidden" name="file_path">
            </div>
        </form>
    </div>
    <div class="modal-footer" style="padding: 10px; border-top: none">
        <div style=" width: 70%;margin-top: -15px;">
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGNew" onclick="Grid_btn_new()">New</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGUpload" onclick="Grid_btn_upload();">Upload</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGDwnload" onclick="Grid_btn_download();">Download</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnHView" onclick="Grid_btn_view();">View</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGRemove" onclick="Grid_btn_remove();">Remove</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnFClose" onclick="attachment_close();">Close</button>
        </div>
    </div>
</script>
<script>
    save__attachment = $("#File__Attachment__Details").kendoWindow({
        title: "Quote Summary - Document Upload",
        modal: true,
        draggable: false,
        visible: false,
        resizable: false,
        width: 1000,
    }).data("kendoWindow");

</script>
