@{
    ViewBag.Title = "RFQEntry";
    Layout = "~/Views/Shared/Form_Layout.cshtml";
}
<form class="form-horizontal" id="form_rfq_entry">
    <div class="row">
        <div class="col-sm-12 simscrollDiv">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @*<h4 >*@
                        <a class="accordion-toggle" data-toggle="collapse" id="apanel1" data-parent="#accordion" href="#panel1" style="color:black"><i class="glyphicon glyphicon-minus"></i>RFQ Entry List</a>
                        @*</h4>*@

                    </div>
                    <div id="panel1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="rfq_entry_list" style="padding-bottom:15px">
                                <div id="grid_rfg_entry_list" class="grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @*<h4 >*@
                        <a class="accordion-toggle" data-toggle="collapse" id="apanel2" data-parent="#accordion" href="#panel2" style="color:black"><i class="glyphicon glyphicon-plus"></i>RFQ Entry Detail</a>
                        @*</h4>*@

                    </div>
                    <div id="panel2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row" style="padding-bottom:10px">
                                <div class="col-md-12">
                                    <div class="modal-footer" style="border-top:0;padding:0">
                                        @*<a data-toggle="modal" class="file_attach" href="~/FileAttachment/FileAttachment" hdrtitle="" docno="" doctype="" scrnid="" data-target="#fileattachModal" style="font-size: 16px; color: blue; font-weight: 600; text-decoration: underline;">Attachment</a>*@
                                        <button type="button" class="btn  btn-primary" id="RFQBtnCreate" onclick="RFQ_Create()">Create</button>
                                        <button type="button" class="btn  btn-primary" id="RFQBtnSave" title="Save" onclick="Master_Save()">Save</button>
                                        <button type="button" class="btn  btn-primary" id="RFQBtnDelete" onclick="form_delete()">Delete</button>
                                        <button type="button" class="btn  btn-primary" id="RFQBtnClear">Clear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtRFQNO" class="col-sm-5 control-label required"  onclick="RFQ_onChange()"><a href="#" style="color:black;text-decoration:underline">RFQ No/Enquiry No</a></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="txtRFQNO" name="rfq_no" max="50">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtReceivedDate" id="lbl_txtReceivedDate" class="col-sm-5 control-label required">Received Date</label>
                                        <div class=" col-sm-7">
                                            <input class="cusDate" id="txtReceivedDate" data-role='datepicker' name="srv_req_date" onkeypress="return date_validate(event)" style="width:100%" />
                                            <span data-for='valid' class='k-invalid-msg'></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cmbCustomer" class="col-sm-5 control-label required" onclick="Customer_onChange(this)"><a href="#" style="color:black;text-decoration:underline">Customer Name</a></label>
                                        <div class="col-sm-7">
                                            <input id="cmbCustomer" name="poc" data-role="filtercombo" style="width:100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cmbPOC" class="col-sm-5 control-label required">POC</label>
                                        <div class="col-sm-7">
                                            <input id="cmbPOC" name="poc" data-role="filtercombo" style="width:100%" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtDueDate" id="lbl_DueDate" class="col-sm-5 control-label required" style="padding-right:0px">Due date for quoting</label>
                                        <div class=" col-sm-7">
                                            <input class="cusDate" id="txtDueDate" data-role='datepicker' name="srv_req_date" onkeypress="return date_validate(event)" style="width:100%" />
                                            <span data-for='valid' class='k-invalid-msg'></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cmbCountry" class="col-sm-5 control-label required">Country of sale</label>
                                        <div class="col-sm-7">
                                            <input id="cmbCountry" name="poc" data-role="filtercombo" style="width:100%" />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cmbApproved" class="col-sm-5 control-label" style="padding-right:0px">Approved for development internally?</label>
                                        <div class="col-sm-7">
                                            <input id="cmbApproved" name="poc" data-role="filtercombo" style="width:100%" />
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">                                
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="txtRemarks" id="lbl_txtNotes" class="col-sm-2 control-label" style="width:21%">CEO Remarks</label>
                                        <div class="col-sm-9" >
                                            <textarea id="txtRemarks" name="notes" rows="1" style="width:100%" class="form-control" maxlength="4096" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-9">
                                    <div id="rfq_entry">
                                        <div id="grid_rfg_entry_det" class="grid"></div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="txtPartNameDet" class="col-sm-5 control-label">Part Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="txtPartNameDet" name="part_name" readonly>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div id="grid_master_data" class="grid"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row" style="display:none">
        <a id="rfq_entry_popup" class="file_attach" data-toggle="modal" href="~/FileAttachment/RFQEntryPopup" hdrtitle="" doctype="" scrnid="" data-target="#frm_RFQEntry">
        </a>
        <a id="Customer_popup" class="file_attach" data-toggle="modal" href="~/FileAttachment/CustomerPopup" hdrtitle="" doctype="" scrnid="" data-target="#frm_Customer">
        </a>
    </div>

    <div id="File__Attachment__Header"></div>

    <input id="txt_rfq_rowid" type="hidden" name="rfq_rowid">
    <input id="txt_timestamp" type="hidden" name="timestamp">
    <input id="txt_status_code" type="hidden" name="rfq_status_code">
    <input id="txt_mode_flag" type="hidden" name="mode_flag">

    <input id="txtDocno" type="hidden" name="Doc_no">
    <input id="txtseqno" type="hidden" name="SeqNo">
    <input id="txtmodeflag" type="hidden" name="modeflag">
    <input id="txtfilepath" type="hidden" name="file_path">
    <input id="txtDocName" type="hidden" name="doc_type">

</form>
<script src="~/CommonScripts/Grid_FileAttachment.js"></script>

<style>
    .k-input[readonly] {
        background-color: #eee;
    }
</style>
<script>
    // list part

    var selectIds = $('#panel1,#panel2');
    $(function ($) {
        selectIds.on('show.bs.collapse hidden.bs.collapse', function () {
            $(this).prev().find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
        })
    });

    var ScreenId = "";
    var menuId = "";
    var screen_id = "";
    Screen_Id = "PROCESSED";
    var grid_height = '';
    var default_screen_size = 631;
    var default_grid_size = 361;
    var customer_rowid = '';
    var rfq_rowid = '0';
    var rfq_number = '';
    var cust_name = "";
   

    $(document).ready(function () {
        $("#multy").hide();
        $("#div_status").hide();
       
        listgrid([]);
       // grid_rfg_entry_detail([]);
        // form part
        Form_validate_Name = $('form.form-horizontal').attr('id');
        kendodate_format_validator('form_rfq_entry');
        $("#lblFormTitle").text('RFQ Entry');
        filter_combobox("cmbCustomer", []);
        Load_Customer_Name();
        //var sData = load_dropdown_list('RFQ_ENTRY', 'APPRRV_INTRL');
        //filter_combobox("cmbApproved", sData);

        var sData = load_dropdown_list('CUST_MAS', 'COUNTRY');
        filter_combobox("cmbCountry", sData);

        $("#txt_rfq_rowid").val(rfq_rowid);
        $("#txt_mode_flag").val('I'); 
        $("#txt_status_code").val('Active');       

        var sData = load_dropdown_list('RFQ_ENTRY', 'USER_LIST');
        filter_combobox("cmbPOC", sData);

        $(".file_attach").attr("hdrtitle", "RFQ Entry");

        $("#form_head").hide();

        //  $("#btnDelete").hide();
        //  $("#frm_save_lay").hide();
        //  $("#form22").hide();  

        listpageloadfetch();       

        var full_height = $('.content-wrapper').css('min-height').replace('px', '');
        grid_height = parseInt(full_height) - 318;  // 280
        $('#grid_rfg_entry_list .k-grid-content').height(grid_height);

        var full_height = $('.content-wrapper').css('min-height').replace('px', '');
        grid_height = parseInt(full_height) - 305; //400
        $('#grid_rfg_entry_det .k-grid-content').height(grid_height);

        var full_height = $('.content-wrapper').css('min-height').replace('px', '');
        grid_height = parseInt(full_height) - 305;  // 280
        $('#grid_master_data .k-grid-content').height(grid_height);
    });


    function RFQ_Create() {
        $("#txt_rfq_rowid").val('0');
        $("#txt_mode_flag").val('I');
        $("#txt_status_code").val('Active');

        $("#txtRFQNO").removeAttr('readonly');
        $("#txtRFQNO").val('');
        $("#txtReceivedDate").removeAttr('readonly');
        $("#txtReceivedDate").val('');
        $('#txtDueDate').val(''); 
        $('#txtPartNameDet').val('');

        $('#cmbCustomer').data("kendoComboBox").value('');
        $('#cmbCustomer').data("kendoComboBox").enable(true);       
        //$('#cmbApproved').data("kendoComboBox").value('');
        $('#cmbPOC').data("kendoComboBox").value('');
        //$('#cmbPOC').data("kendoComboBox").enable(true);
        grid_rfg_entry_detail([]);
        Load_Customer_popup('0');
    }
</script>

<script>    
    function Customer_onChange(arg) {
        $('#Customer_popup').click();
        Load_Customer_popup(customer_rowid);
    }
    function RFQ_onChange() {
        $('#rfq_entry_popup').click();
        rfq_number = $("#txtRFQNO").val();
        var grid = $("#grid_rfg_entry_list").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        cust_name = selectedItem.cust_name;
        Load_RFQ_popup(rfq_number);
    }

    function listgrid(data) {
        try {
            gridRowID = -1;
            data = addRandomNum(data);
            $("#grid_rfg_entry_list").kendoGrid({
                dataSource: {
                    data: data,
                    pageSize: 20,
                    schema: {
                        model: {
                            fields: {
                                rfq_no: {
                                    type: "string",
                                    editable: false,
                                },
                                rfq_received_date: {
                                    type: "string",
                                    editable: false,
                                },
                                cust_name: {
                                    type: "string",
                                    editable: false,
                                },
                                ceo_remarks: {
                                    type: "string",
                                    editable: false,
                                },
                                rfq_status_code: {
                                    type: "string",
                                    editable: false,
                                },
                                rfq_status: {
                                    type: "string",
                                    editable: false,
                                },
                            }
                        }
                    },
                },
                dataBound: function (o) {
                    reset_Selected_GridRows("grid_rfg_entry_list", o);
                },
                //height: 550,
                filterable: true,
                scrollable: true,
                sortable: {
                    mode: "multiple",
                    dir: "asc"
                },
                pageable: true,
                selectable: true,
                //change: selectRow,
                columns: [
                   {
                       field: "rfq_rowid",
                       title: "RFQ Rowid",
                       width: "150px",
                       hidden: true
                   },
                    {
                        field: "cust_rowid",
                        title: "Cust Rowid",
                        width: "150px",
                        hidden: true
                    },
                    {
                        field: "rfq_no",
                        title: "RFQ No/ Enquiry No",
                        //template: "<a href='javascript:void(0)' class='rfq_details' data-ID='#=rfq_no#' style='text-decoration: underline;'onclick='Order_onChange(this)'>#=rfq_no#</a>",
                        template: "<a href='javascript:void(0)' class='rfq_details' data-ID='#=rfq_no#' style='text-decoration: underline; color:black'>#=rfq_no#</a>",
                        width: "150px",
                    },
                    {
                        field: "rfq_received_date",
                        title: "Received Date",
                        width: "150px",
                    },
                    {
                        field: "cust_id",
                        title: "Customer ID",
                        width: "150px",
                        hidden: true
                    },
                    {
                        field: "cust_name",
                        title: "Customer Name",
                        width: "150px",
                    },
                    {
                        field: "ceo_remarks",
                        title: "CEO Remarks",
                        width: "150px",
                    },
                    {
                        field: "rfq_status_code",
                        title: "Status",
                        hidden: true,
                        width: "150px",
                    },
                    {
                        field: "rfq_status",
                        title: "Status",
                        width: "120px",
                    },                    
                    {
                        command: [
                            {
                                name: "Save",
                                text: "",
                                id: "Save",
                                template: '<input type="button" class="info  k-button k-button-icontext complete" id="save"  name="info" value="Complete"  style="height: 26px; margin: 0px 2px; min-width: 64px;"  />',
                            },                            
                        ], title: "Actions", width: "120px",
                    },
                    {
                        field: "no_of_attachment",
                        title: "Attachment",
                        hidden: true
                    },
                    {
                        name: "Attach",
                        title: "Attach",
                        template: "<i class='fa fa-paperclip Attachment' id='no_of_attachment_list' style='padding: 0px; font-size: 20px; margin: 0px 10px' onclick='attachment_header_click()'>(#: no_of_attachment #)</i>",
                        width: "50px",
                    },
                ],
                editable: true,
            });

            $('#grid_rfg_entry_list').data('kendoGrid').tbody.find('.complete').click(function (e) {
                var dataitem = $('#grid_rfg_entry_list').data('kendoGrid').dataItem($(e.currentTarget).closest("tr"));
                rfq_rowid = dataitem.rfq_rowid;
                single_fetch(rfq_rowid);
                form_complete();
            });

            $('#grid_rfg_entry_list').data('kendoGrid').tbody.find('.rfq_details').click(function (e) {
                var dataitem = $('#grid_rfg_entry_list').data('kendoGrid').dataItem($(e.currentTarget).closest("tr"));
                $('#rfq_entry_popup').click();
                rfq_number = dataitem.rfq_no;
                cust_name = dataitem.cust_name;
                Load_RFQ_popup(rfq_number);
            });


            $("#grid_rfg_entry_list").on("dblclick", "tr.k-state-selected", function () {
                var grid = $("#grid_rfg_entry_list").data("kendoGrid");
                var selectedItem = grid.dataItem(grid.select());
                $("#txt_mode_flag").val("U");
                $("#apanel2").click();

                rfq_rowid = selectedItem.rfq_rowid;
                single_fetch(rfq_rowid);               
                customer_rowid = $('#cmbCustomer').data("kendoComboBox").value();

                criticality_product_list = load_dropdown_list('RFQ_ENTRY', 'CRITICAL_PROD');
                grade_of_rm_list = load_dropdown_list('RFQ_ENTRY', 'RM_GRADE');

                grid_mandatory("grid_rfg_entry_det", ["Part Name", "Expected Qty. p.a.", "Expected value of business p.a", "Grade of RM", "Remarks", "Criticality of product", "Casting Drawing No", "Machine Drawing No"]);

                var mas_data = load_dropdown_list('PART_MAS', 'PROCESS_STEP');
                Master_data_grid(mas_data);

                $("#txtReceivedDate").attr('readonly', 'readonly');
                $("#txtRFQNO").attr('readonly', 'readonly');
                $("#txtPartNameDet").val("");
                //   $('#cmbPOC').data("kendoComboBox").enable(false);
                $('#cmbCustomer').data("kendoComboBox").enable(false);                

                var full_height = $('.content-wrapper').css('min-height').replace('px', '');
                grid_height = parseInt(full_height) - 480; //400
                $('#grid_rfg_entry_det .k-grid-content').height(grid_height);

                var full_height = $('.content-wrapper').css('min-height').replace('px', '');
                grid_height = parseInt(full_height) - 500;  // 280
                $('#grid_master_data .k-grid-content').height(grid_height);

            });           

        } catch (err) {
            kendoAlert(err);
        }
    }

    function selectRow() {
        //var data = [{  part_name: "", pilot_qty: "", cast_draw_no: "", mach_draw_no: "", status_code: "2",  mode_flag: "S" },
        //{part_name: "", pilot_qty: "", cast_draw_no: "", mach_draw_no: "", status_code: "2",  mode_flag: "S" },
        //{  part_name: "", pilot_qty: "", cast_draw_no: "", mach_draw_no: "", status_code: "2", mode_flag: "S" }];
        var grid = $("#grid_rfg_entry_list").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        $("#txtRFQNO").val(selectedItem.rfq_no);
        $("#txtReceivedDate").val(selectedItem.received_date);
        $("#txtCusName").val(selectedItem.cus_name);
        //var full_height = $('.content-wrapper').css('min-height').replace('px', '');
        //grid_height = parseInt(full_height) - 285;
        //$('#grid_rfg_entry_det .k-grid-content').height(grid_height);
        var data = [{ part_name: "Part1", pilot_qty: "50", cast_draw_no: "Draw123", mach_draw_no: "MN345", mode_flag: "S" }];
        grid_rfg_entry_detail(data);
        $("#txtReceivedDate").attr('readonly', 'readonly');
        $("#txtRFQNO").attr('readonly', 'readonly');
        $("#txtCusName").attr('readonly', 'readonly');
        $('#cmbPOC').data("kendoComboBox").enable(false);
        $("#apanel2").click();

        //   $('#cmb_fin_year').data("kendoComboBox").enable(false);
        // $(".k-grid-toolbar").css("pointer-events", "none");
        // $(".k-grid-toolbar").css("opacity", "0.3");
    }

    function attachment_header_click() {
        var grid = $("#grid_rfg_entry_list").data("kendoGrid"); //assuming the grid name is gridtemplate
        var dataitem = grid.dataItem(grid.select());
        save__attachment.content($("#File_Attach_Template").html()).center().open();

        DocType = "RFQ_HDR";
        $('.form-group .k-invalid-msg').remove();
        $("#txtRFQNumber").val(dataitem.rfq_no);
        var grp_data1 = load_dropdown_list('ATTACHMENT', 'ATTCH_GRP');
        var grp_data2 = load_dropdown_list('ATTACHMENT', 'ATTCH_SGRP');
        // var grp_data = [{ code: "CAST_MACHINE", desc: "Casting/Machining" }, { code: "SIG_NDA", desc: "Signed NDA" }];
        filter_combobox("cmb_grid_group", grp_data1);
        filter_combobox("cmb_grid_subgroup", grp_data2);

        $("#txtDocno").val($("#txtRFQNumber").val());
        $("#txtDocName").val("RFQ_HDR");
        $("#txtmodeflag").val("I");
        $("#txtseqno").val("0");
        $("#txtVersion").val("1");
        fetch_DocAttach_details($("#txtDocName").val(), $("#txtDocno").val())
        $('.k-window').css('top', '30px');
    }

    function attach_load() {
        var grid = $("#grid_rfg_entry_det").data("kendoGrid"); //assuming the grid name is gridtemplate
        var dataitem = grid.dataItem(grid.select());
        // var dataitem = $('#grid_rfg_entry_det').data('kendoGrid').dataItem($(e.currentTarget).closest("tr"));
        //save_details_attachment.content($("#File_Attach_Detail_Template").html()).center().open();
        save__attachment.content($("#File_Attach_Template").html()).center().open();
        DocType = "RFQ_DTL";
        $("#part_name_text").show();
        //$("#Detail_Sub_grp").show();
        $('.form-group .k-invalid-msg').remove();
        $("#txtRFQNumber").val($("#txtRFQNO").val());
        $("#txtPartName").val(dataitem.part_name);
        var grp_data1 = load_dropdown_list('ATTACHMENT', 'RFQ_DTL');
        //var grp_data2 = load_dropdown_list('ATTACHMENT', 'RFQ_SUB_GRP');
        filter_combobox("cmb_grid_group", grp_data1);
        filter_combobox("cmb_grid_subgroup", []);

        //$('#cmb_grid_group').change(function () {
        //    //$('#cmb_grid_subgroup').data("kendoComboBox").value("");
        //    //if ($('#cmb_grid_group').data("kendoComboBox").value() == "SIGN_NDA") {
        //    //    var grp_data2 = load_sub_group('ATTACHMENT', 'RFQ_SUB_GRP');
        //    //    filter_combobox("cmb_grid_subgroup", grp_data2);
        //    //}
        //    //else {
        //        var grp_data2 = load_dropdown_list('ATTACHMENT', 'RFQ_SUB_GRP');
        //        filter_combobox("cmb_grid_subgroup", grp_data2);
        //   // }
        //});

        var doc_number = $("#txtRFQNumber").val() + "^" + $("#txtPartName").val();

        $("#txtDocno").val(doc_number);
        $("#txtDocName").val("RFQ_DTL");
        $("#txtmodeflag").val("I");
        $("#txtseqno").val("0");
        $("#txtVersion").val("1");
        fetch_DocAttach_details($("#txtDocName").val(), $("#txtDocno").val())
        $('.k-window').css('top', '30px');

        if (dataitem.mode_flag == "I") {
            $("#btnGNew").prop("disabled", true);
            $("#btnGUpload").prop("disabled", true);
            $("#btnGRemove").prop("disabled", true);
        }

    }
    function sub_group_change()
    {
        var screen_id = 'ATTACHMENT'; var master = 'RFQ_SUB_GRP';
        var grp_data = $('#cmb_grid_group').data("kendoComboBox").value();
        var sub_grp = []
        var OrgId = 'SCS';
        var LocnId = 'chn';
        var User = 'admin';
        var sRequest = weburl + '/server/MasterCodes/fetch_mastercode_screenid.ashx?org=' + OrgId + '&locn=' + LocnId + '&user=' + User + '&lang=en_us&user_id=' + User + '&screen_code=' + screen_id + '';
        var s = executeService(sRequest);
        var responseJSON = JSON.parse(s);
        if (responseJSON.update == "successful") {
            var cmb_data = responseJSON.data.context.Detail;
            if (grp_data == "SIGN_NDA")
            {
                $('#cmb_grid_subgroup').data("kendoComboBox").value("");
                for (var i = 0; i < cmb_data.length; i++) {
                    if (cmb_data[i].master_code == master) {
                        if (cmb_data[i].code == "SIGN_NDA") {
                            sub_grp.push({ code: cmb_data[i].code, desc: cmb_data[i].description, dependent: cmb_data[i].dependent_code });
                        }
                    }
                }
            }
            else {
                $('#cmb_grid_subgroup').data("kendoComboBox").value("");
                for (var i = 0; i < cmb_data.length; i++) {
                    if (cmb_data[i].master_code == master) {
                        if (cmb_data[i].code != "SIGN_NDA") {
                            sub_grp.push({ code: cmb_data[i].code, desc: cmb_data[i].description, dependent: cmb_data[i].dependent_code });
                        }
                    }
                }
            }
            
        }             
        filter_combobox("cmb_grid_subgroup", sub_grp);
    }

    function OnEdit(e) {
        setDefaultValues(e);
        e.container.find("input[name='part_name']").attr('maxlength', '512');
        e.container.find("input[name='pilot_lot_qty']").attr('maxlength', '5');
        e.container.find("input[name='casting_drwng_no']").attr('maxlength', '50');
        e.container.find("input[name='machine_drwng_no']").attr('maxlength', '50');

        var columnIndex = this.cellIndex(e.container);
        var fieldName = this.thead.find("th").eq(columnIndex).data("field");
        if (!isEditable(fieldName, e.model)) {
            this.closeCell();
        }
    }
    function isEditable(fieldName, model) {
        if (fieldName === "part_name") {
            return ((model.hasOwnProperty("part_name") && model.mode_flag !== "U"));
        }        
        return true; // default to editable
    }

    var criticality_product_list = '';
    var grade_of_rm_list = '';

    function grid_rfg_entry_detail(user_data) {
        $("#grid_rfg_entry_det").kendoGrid({
            dataSource: {
                data: user_data,
                schema: {
                    model: {
                        fields: {
                            rfq_dtl_rowid: {
                                type: "string",
                                defaultValue: "0"
                            },
                            part_name: {
                                type: "string",
                                editable: true
                            },
                            pilot_lot_qty: {
                                type: "string",
                                editable: true,
                            },
                            casting_drwng_no: {
                                type: "string",
                                editable: true
                            },
                            machine_drwng_no: {
                                type: "string",
                                editable: true
                            },
                            no_of_attachment: {
                                type: "string",
                                defaultValue: "0"
                            },
                            mode_flag: {
                                type: "string",
                                //defaultValue: "I"
                            }
                        }
                    }
                },
            },
            navigatable: true,
            sortable: {
                mode: "multiple",
                dir: "asc"
            },
            //  height:520,
            selectable: true,
            selectable: "singl", //  Grid Row Selection
            dataBinding: setDefaultValues,
            dataBound: function (e) {
                resultData = e.sender._data;
                var rows = $('#grid_rfg_entry_det').data('kendoGrid').tbody.children();
                setColor(rows, resultData);
            },
            change: select_enq,
            edit: OnEdit,
            toolbar: "<a class=' k-grid-add'  id = 'btnSave' href=''><span class='fa fa-plus' style='color:Black'></span></a>",
            columns: [
                 {
                     field: "rfq_dtl_rowid",
                     title: "RowId",
                     hidden: true,
                     width: 150,
                 },
                 {
                     field: "part_name",
                     title: "Part Name",
                     width: 150,
                     locked:true
                 },
                 {
                     field: "pilot_lot_qty",
                     title: "Expected Qty. p.a.",
                     width: 150,
                     editor: function (container, options) {
                         numeric_editor(container, options.field, '5');
                     },
                     attributes: { class: "text-right" },
                 },
                 {
                     field: "expected_value",
                     title: "Expected value of business p.a",
                     width: 250,
                     editor: function (container, options) {
                         numeric_editor_dot(container, options.field, '9');
                     },
                     attributes: { class: "text-right" },
                 },
                 {
                     field: "grade_of_rm_code",
                     title: "Grade of RM",
                     width: 150,
                     hidden:true
                 },                 
                    {
                        field: "grade_of_rm",
                        title: "Grade of RM",
                        editor: function (container, options) {
                            combo_editor(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "grade_of_rm_code", "grid_rfg_entry_det")
                        },
                        width: 200,
                    },
                 {
                     field: "remarks",
                     title: "Remarks",
                     width: 250,
                     editor: function (container, options) {
                         textarea_editor(container, options.field);
                     },

                 },
                 {
                     field: "criticality_product_code",
                     title: "Status",
                     hidden: true,
                     width: "150px",
                 },
                    {
                        field: "criticality_product",
                        title: "Criticality of product",
                        editor: function (container, options) {
                            combo_editor(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "criticality_product_code", "grid_rfg_entry_det")
                        },
                        width: 150,
                    },
                 {
                     field: "casting_drwng_no",
                     title: "Casting Drawing No",
                     width: 150,
                 },
                 {
                     field: "machine_drwng_no",
                     title: "Machine Drawing No",
                     width: 150,
                 },
                 {
                     field: "no_of_attachment",
                     title: "Attachment",
                     hidden: true
                 },
                 {
                     title: "Attach",
                     // template: "<i class='fa fa-paperclip Attachment' id='no_of_attachment_det' style='padding: 0px; font-size: 20px; margin: 0px 10px' onclick='attach_load()'>(0)</i>",
                     template: "<i class='fa fa-paperclip Attachment' id='no_of_attachment_det' style='padding: 0px; font-size: 20px; margin: 0px 10px' onclick='attach_load()'>(#: no_of_attachment #)</i>",
                     width: 100
                 },
                 {
                     command: [{
                         name: "Delete",
                         id: "Delete",
                         imageClass: "fa fa-close",
                         click: function (e) {
                             var grid = $("#grid_rfg_entry_det").data("kendoGrid");
                             var dataItem = $("#grid_rfg_entry_det").data("kendoGrid").dataItem($(e.target).closest("tr"));
                             DeleteWindowEvent(e, dataItem, grid);
                             e.stopImmediatePropagation()
                         }
                     }, ],
                     title: "&nbsp;",
                     width: "40px",
                 },
                 {
                     field: "mode_flag",
                     title: "Mode",
                     width: 30,
                     hidden: true
                 }
            ],
            editable: true,
        });
    }

    function select_enq()
    {
        var grid = $("#grid_rfg_entry_det").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        $("#txtPartNameDet").val(selectedItem.part_name);
    }

  

    function Master_data_grid(data) {
        try {
            gridRowID = -1;
            data = addRandomNum(data);
            $("#grid_master_data").kendoGrid({
                dataSource: {
                    data: data,
                    //  pageSize: 10,
                    schema: {
                        model: {
                            fields: {
                                part_dtl_rowid: { type: "string", defaultValue: "0" },
                                part_id: { type: "string" },
                                applicable_flag: { editable: false },
                                process_step_code: { type: "string" },
                                process_step: { type: "string" },
                            }
                        }
                    },
                },
                dataBound: function (o) {
                    reset_Selected_FloGridRows("grid_master_data", o);
                    var grid = this;
                    $.each(grid.tbody.find('tr'), function () {
                        var model = grid.dataItem(this);
                        if (model.applicable_flag == "Y") {//changed to see if i can select the row with database Id of 2
                            $('[data-uid=' + model.uid + ']').addClass('k-state-selected');
                            grid_selected_rows[model.randNum] = true;
                            $('[data-uid=' + model.uid + ']').find("input[type='checkbox']").prop("checked", true);

                            // var dataItem = grid.dataItem(selection);
                        }
                        else {
                            $('[data-uid=' + model.uid + ']').removeClass("k-state-selected");
                            grid_selected_rows[model.randNum] = false;
                        }
                    });
                },
                //height: 130,
                columns: [
                    {
                        field: "part_dtl_rowid",
                        title: "part_dtl_rowid",
                        width: 150,
                        hidden: true
                    },
                    {
                        field: "part_id",
                        title: "Part ID",
                        width: 150,
                        hidden: true
                    },
                    {
                        field: "applicable_flag",
                        title: "Select",
                        template: '<input type="checkbox" #= applicable_flag == "1" ? "checked=checked" : "" # class="chkbx2"></input>',
                        update: true,
                        width: 30
                    },
                {
                    field: "code",
                    title: "Code",
                    width: 150,
                    hidden: true
                },
                {
                    field: "desc",
                    title: "Processes",
                    width: 100
                },
                ],

            });

            var gridDoc = $("#grid_master_data").data("kendoGrid");
            gridDoc.table.on("change", ".chkbx2", selectRow);
            function selectRow() {
                selected_FloGrid_Row("grid_master_data", this);
            }
        }
        catch (err) {
            //javascript_log4j_root(arguments.callee.name, err);
            alert(err)
        }
    }
    var grid_selected_rows = {};
    function reset_Selected_FloGridRows(id, o) {
        var grid = $("#" + id).data("kendoGrid");
        var newSelection = [];
        var pageData = o.sender.dataSource._data;
        if ($.isEmptyObject(grid_selected_rows) == false) {
            $.each(grid.dataSource._data, function (key, value) {
                $.each(grid_selected_rows, function (skey, svalue) {
                    if ((grid_selected_rows[skey] == true) && (skey == value.randNum)) {
                        newSelection.push(pageData[key].uid);
                    }
                });
            });
            $.each(newSelection, function (key, uid) {
                $("tr[data-uid='" + uid + "'] td:first").find("input[type='checkbox']").prop("checked", true);
                $("tr[data-uid='" + uid + "']").addClass("k-state-selected");
            });
        }
    }

    var fcheck = '';
    var ucheck = '';
    function selected_FloGrid_Row(id, e, rSelect, sel_Row) {
        var checked = e.checked;
        if (rSelect) {
            checked = true;
            row = sel_Row;
        } else {
            row = $(e).closest("tr");
        }
        grid = $("#" + id).data("kendoGrid");
        var selection = $(e).closest("tr");
        if (rSelect) {
            selection = sel_Row;
        }
        if (checked) {
            //-select the row
            row.addClass("k-state-selected");
            grid_selected_rows[grid.dataItem(selection).randNum] = true;
            var dataItem = grid.dataItem(selection);
            dataItem._set('applicable_flag', 'Y');
            fcheck += dataItem.ProcessStage + ",";
            setlocalStorage("ChkFirstClick", fcheck);

        } else {
            //-remove selection
            row.removeClass("k-state-selected");
            grid_selected_rows[grid.dataItem(selection).randNum] = false;
            var dataItem = grid.dataItem(selection);
            dataItem._set('applicable_flag', 'N');
            ucheck += dataItem.ProcessStage + ",";
            setlocalStorage("UnChkFirstClick", ucheck);
        }
        return false;
    }
   
    function form_clear() {
        grid_rfg_entry_detail([]);

        $(".k-grid-toolbar").css("pointer-events", "");
        $(".k-grid-toolbar").css("opacity", "");
        listgrid([]);
        var data = [{ rfq_no: "RFQENQ1", received_date: "10/04/2021", cus_name: "Customer1", status: "Open" }, { rfq_no: "RFQENQ2", received_date: "11/04/2021", cus_name: "Customer2", status: "Open" }, { rfq_no: "RFQENQ3", received_date: "20/05/2021", cus_name: "Customer3", status: "Open" }, { rfq_no: "RFQENQ4", received_date: "06/06/2021", cus_name: "Customer4", status: "Open" }]
        listgrid(data);
    }

    function attachment_close() {
        save__attachment.close();
    }
    function attach_close_detail() {
        save_details_attachment.close();
    }

    function GridBrowseTemplateFile() {
        try {
            $("#file").attr("accept", ".pdf,.xlsx,.jpg");
            $("#file").click();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function Load_Customer_Name() {
        try {
            var sRequest = weburl + '/server/Customer/fetch_customer_list.ashx?org=' + OrgId + '&locn=' + LocnId + '&user=' + User + '&lang=en_us';
            var s = executeService(sRequest);
            var responseJSON = JSON.parse(s);
            if (responseJSON.update == "successful") {
                //generateGrid_Customer(responseJSON);
                var cust_data = responseJSON.data.context.Detail;
                var code = {};
                var desc = {};

                var combo_data1 = [];
                $.each(cust_data, function (key, val) {
                    combo_data1.push({ code: cust_data[key].cust_rowid, desc: cust_data[key].cust_name });
                });
                filter_combobox("cmbCustomer", combo_data1);

            }
            else {
                filter_combobox("cmbCustomer", []);
            }
        } catch (err) {
            kendoAlert(err);
        }
    }

    /*---------------------------------------------------------------------  List Method  ----------------------------------------------------------------------------------*/

    function listpageloadfetch() {
        try {           
            var sRequest = weburl + '/server/RFQ/fetch_rfq_list.ashx?org=' + OrgId + '&locn=' + LocnId + '&user=' + User + '&lang=en_us';
            var s = executeService(sRequest);
            var responseJSON = JSON.parse(s);
            if (responseJSON.update == "successful") {
                generateRFQ_Entry_list(responseJSON);
            } else {
                listgrid([]);
            }
        } catch (err) {
            kendoAlert(err);
        }
    }

    function generateRFQ_Entry_list(res) {
        try {
            if (res.data.context.Detail != null) {
                var data = changedataType(res.data.context.Detail);
                $("#rfq_entry_list").empty();
                $("#rfq_entry_list").append("<div id='grid_rfg_entry_list'></div>");
                               
                listgrid(data);               

            } else {
                listgrid([]);
            }           
        } catch (err) {
            kendoAlert(err);
        }

    }
    /*---------------------------------------------------------------------  Save Method  ----------------------------------------------------------------------------------*/


    function form_save()
    {       
        var header_data = {};
        header_data.rfq_rowid = $("#txt_rfq_rowid").val();
        header_data.rfq_no = $("#txtRFQNO").val();
        header_data.rfq_received_date = getFormated_StringDate($("#txtReceivedDate").val());
        header_data.cust_rowid = $('#cmbCustomer').data("kendoComboBox").value();
        header_data.poc_id = $('#cmbPOC').data("kendoComboBox").value();
        header_data.quote_due_date = getFormated_StringDate($("#txtDueDate").val());
        header_data.aprv_internal_flag = $('#cmbApproved').data("kendoComboBox").value();
        header_data.rfq_status_code = $("#txt_status_code").val();
        header_data.timestamp = $("#txt_timestamp").val();
        header_data.mode_flag = $("#txt_mode_flag").val();

        var grid_val = JSON.stringify($("#grid_rfg_entry_det").data("kendoGrid").dataSource.data());
        var obj_grid_val = JSON.parse(grid_val);
       
        if (obj_grid_val.length == 0) {
            kendoAlert("Atleast one record needs to be entered");
            return false;
        }
        var data = {};
        data.context = context();
        data.context.Header = header_data;
        data.context.Detail = obj_grid_val;
        var sRequest = weburl + '/server/RFQ/save_rfq_details.ashx';
        var sData = executeService(sRequest, data);
        var responseJSON = JSON.parse(sData);
        if (responseJSON.update == "successful") {           
                kendoAlert('RFQ Entry Details Saved Successfully');
               // form_clear();                     
        }
    }

    /*---------------------------------------------------------------------  Complete Method  ----------------------------------------------------------------------------------*/
    function form_complete() {
        var header_data = {};
        header_data.rfq_rowid = $("#txt_rfq_rowid").val();
        header_data.rfq_no = $("#txtRFQNO").val();
        header_data.rfq_received_date = getFormated_StringDate($("#txtReceivedDate").val());
        header_data.cust_rowid = $('#cmbCustomer').data("kendoComboBox").value();
        header_data.poc_id = $('#cmbPOC').data("kendoComboBox").value();
        header_data.quote_due_date = getFormated_StringDate($("#txtDueDate").val());
        header_data.aprv_internal_flag = $('#cmbApproved').data("kendoComboBox").value();
        header_data.rfq_status_code = $("#txt_status_code").val();
        header_data.timestamp = $("#txt_timestamp").val();
        header_data.mode_flag = "C";

        var grid_val = JSON.stringify($("#grid_rfg_entry_det").data("kendoGrid").dataSource.data());
        var obj_grid_val = JSON.parse(grid_val);        
        var data = {};
        data.context = context();
        data.context.Header = header_data;
        data.context.Detail = obj_grid_val;
        var sRequest = weburl + '/server/RFQ/save_rfq_details.ashx';
        var sData = executeService(sRequest, data);
        var responseJSON = JSON.parse(sData);
        if (responseJSON.update == "successful") {
            kendoAlert('RFQ Entry Details Completed Successfully');

            listpageloadfetch();
            var full_height = $('.content-wrapper').css('min-height').replace('px', '');
            grid_height = parseInt(full_height) - 318;  // 280
            $('#grid_rfg_entry_list .k-grid-content').height(grid_height);
        }
    }

    /*---------------------------------------------------------------------  Delete Method  ----------------------------------------------------------------------------------*/


    function form_delete() {
        var header_data = {};
        header_data.rfq_rowid = $("#txt_rfq_rowid").val();
        header_data.rfq_no = $("#txtRFQNO").val();
        header_data.rfq_received_date = getFormated_StringDate($("#txtReceivedDate").val());
        header_data.cust_rowid = $('#cmbCustomer').data("kendoComboBox").value();
        header_data.poc_id = $('#cmbPOC').data("kendoComboBox").value();
        header_data.quote_due_date = getFormated_StringDate($("#txtDueDate").val());
        header_data.aprv_internal_flag = $('#cmbApproved').data("kendoComboBox").value();
        header_data.rfq_status_code = $("#txt_status_code").val();
        header_data.timestamp = $("#txt_timestamp").val();
        header_data.mode_flag = "D";

        var grid_val = JSON.stringify($("#grid_rfg_entry_det").data("kendoGrid").dataSource.data());
        var obj_grid_val = JSON.parse(grid_val);
        var data = {};
        data.context = context();
        data.context.Header = header_data;
        data.context.Detail = obj_grid_val;
        var sRequest = weburl + '/server/RFQ/save_rfq_details.ashx';
        var sData = executeService(sRequest, data);
        var responseJSON = JSON.parse(sData);
        if (responseJSON.update == "successful") {
            kendoAlert('RFQ Entry Details Deleted Successfully');
            listpageloadfetch();
            $("#apanel1").click();

            var full_height = $('.content-wrapper').css('min-height').replace('px', '');
            grid_height = parseInt(full_height) - 318;  // 280
            $('#grid_rfg_entry_list .k-grid-content').height(grid_height);

        }
    }



    /*---------------------------------------------------------------------  Single Fetch Method  ----------------------------------------------------------------------------------*/
    function single_fetch(rfq_rowid) {
        var sRequest = weburl + '/server/RFQ/fetch_rfq_details.ashx?org=' + OrgId + '&locn=' + LocnId + '&user=' + User + '&lang=en_us&rfq_rowid=' + rfq_rowid + '';
        var s = executeService(sRequest);
        var responseJSON = JSON.parse(s);
        if (responseJSON.update == "successful") {
            generateGrid_Entry_detail(responseJSON);
        } else {
            grid_rfg_entry_detail([]);
        }

    }

    function generateGrid_Entry_detail(res) {
        if (res.data.context.Header != undefined) {
            var res_data = res.data.context.Header;
            $('.form-group .k-invalid-msg').remove();

            $('#txt_rfq_rowid').val(res_data.rfq_rowid);
            $('#txtRFQNO').val(res_data.rfq_no);
            $('#txtReceivedDate').val(res_data.rfq_received_date);
            $('#cmbCustomer').data("kendoComboBox").value(res_data.cust_rowid);
            $('#cmbPOC').data("kendoComboBox").value(res_data.poc_id);
            $('#txtDueDate').val(res_data.quote_due_date);
            //$('#cmbApproved').data("kendoComboBox").value(res_data.aprv_internal_flag);
            $('#txt_status_code').val(res_data.rfq_status_code);
            $('#txt_timestamp').val(res_data.timestamp);
        }
        if (res.data.context.Detail == null) {
            grid_rfg_entry_detail([]);
        } else {
            var data = changedataType(res.data.context.Detail);
            $("#rfq_entry").empty();
            $("#rfq_entry").append("<div id='grid_rfg_entry_det' class='grid'></div>");
            grid_rfg_entry_detail(data);           
        }
    }

</script>
<script type="text/x-kendo-template" id="File_Attach_Template" style="color:Black">
    <div class="modal-body" style="padding:5px">
        <form id="form2" class="form-horizontal" data-role="validator" novalidate="novalidate">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtRFQNumber" class="col-sm-4 control-label">RFQ No</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" id="txtRFQNumber" readonly name="rfq_no" style="height:20px">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="display:none" id="part_name_text">
                    <div class="form-group">
                        <label for="txtPartName" class="col-sm-4 control-label">Part Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" id="txtPartName" readonly name="part_name" style="height:20px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div id="Grid_Attach"></div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="cmb_grid_group" class="col-sm-3 control-label required">Group</label>
                        <div class="col-sm-7">
                            <input type="text" id="cmb_grid_group" name="Group" style="width:100%" onchange="sub_group_change()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="cmb_grid_subgroup" class="col-sm-3 control-label required">Sub Group</label>
                        <div class="col-sm-7">
                            <input type="text" id="cmb_grid_subgroup" name="SubGroup" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="filename" class="col-sm-3 control-label">File Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-sm" id="txtfilename" readonly name="filename" style="height:20px">

                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-2">
                        <input type="file" id="file" style="display:none;" onchange="save_file();" />
                        <button type="button" id="btn_down1" class="btn btn-sm btn-primary" onclick="GridBrowseTemplateFile();" data-toggle="tooltip" data-placement="bottom">Browse</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="Version" class="col-sm-3 control-label">Version</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-sm" id="txtVersion" readonly name="Version" style="height:20px">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="Size" class="col-sm-3 control-label">Size</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control input-sm" id="txtSize" readonly name="Size" style="height:20px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="Notes" class="col-sm-2 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea class="form-control input-sm" rows="2" id="txtnotes" style="width:90%" name="Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <input id="txtDocno" type="hidden" name="SeqNo">
                <input id="txtseqno" type="hidden" name="SeqNo">
                <input id="txtmodeflag" type="hidden" name="modeflag">
                <input id="txtfilepath" type="hidden" name="file_path">
            </div>
        </form>
    </div>
    <div class="modal-footer" style="padding: 10px; border-top: none">
        <div style=" width: 70%;margin-top: -15px;">
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGNew" onclick="Grid_btn_new()">New</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGUpload" onclick="Grid_btn_upload();">Upload</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGDwnload" onclick="Grid_btn_download();">Download</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnHView" onclick="Grid_btn_view();">View</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnGRemove" onclick="Grid_btn_remove();">Remove</button>
            <button type="button" class="btnUpload btn btn-primary btn-sm" id="btnFClose" onclick="attachment_close();">Close</button>
        </div>
    </div>
</script>
<script>
    save__attachment = $("#File__Attachment__Header").kendoWindow({
        title: "RFQ Entry - Document Upload",
        modal: true,
        draggable: false,
        visible: false,
        resizable: false,
        width: 1000,
    }).data("kendoWindow");

</script>

